<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Suite" parallel="methods">
<listeners>
<!-- <listener class-name="listeners.TransformerListener"></listener> -->
<listener class-name="listeners.TestListeners"></listener>
</listeners>
  <test name="SmokeTest - Chrome Browser">
        <!-- If you want to be more specific, replace this with a list of test classes you'd like to run -->
      
        <classes>
            <class name="com.cucumber.amazon.shopping.TestRunner"/>
        </classes>
    </test>
     
</suite> 
